* text=auto eol=lf
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
scripts/face_recognition_model.pth filter=lfs diff=lfs merge=lfs -text
models/face_recognition_model.pth filter=lfs diff=lfs merge=lfs -text
models/face_recognition_model_r.pth filter=lfs diff=lfs merge=lfs -text
